*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    color: #F5F5F5;

    background:
        radial-gradient(circle at 10% 25%, rgba(124, 255, 0, 0.4), transparent 30%),
        radial-gradient(circle at 80% 40%, rgba(124, 255, 0, 0.40), transparent 35%),
        #000000;

    width: 100vw;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;

}
.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
#Vishesh{
    color: white;
    font-size: 2rem;
    font-weight: 535;
    letter-spacing: 0.5px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
#Vishesh:hover{
    transform: scale(1.3);
}
#Singh{
    color: #7cff00;
    margin-left: 10px;
}
.nav{
    width: 100vw;
    height: 80px;
    padding-left: 10%;
    padding-right: 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #000000; */
    font-size: 1.4rem;
    /* border-bottom: 1px solid #7CFF00; */
    background: rgba(0, 0, 0, 0.75);
    border-bottom: 1px solid rgba(124, 255, 0, 0.25);

}
.nav-class{
    display: flex;
    gap: 3rem;
    color: white;
}
.nav-class a{
    color: #F5F5F5;
    transition: all 0.3s ease-in-out;
}
.nav-class a:hover{
    color:  #7CFF00;
    transform: scale(1.211);
}
.box1{
    width: 90vw;
    height: 90%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.item1{
    margin-top: 30px;
    color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}
#intro{
    gap: 1px;
}
#img{
    width: 30%;
    /* cursor: pointer; */
}
#img img{
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #7CFF00;
    box-shadow: 0 0 30px rgba(124, 255, 0, 0.5);
}
#img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
#bb{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 50px;
    width: 360px;
   
    border-radius: 80px;
}
#bb p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid #7CFF00;
    border-radius: 50px;
    font-size: 1.3rem;
    gap: 1rem;
    cursor: pointer;
    color: #D4AF37;
}
#me:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out
}
#view:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}
.footer{
    color: white;
    margin-top: auto;
    text-align: center;
    margin-bottom: 20px;
}

/* For about...... */
.container2{
    color: white;
    font-size: 45px;
}
.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
}
#secondBox{
    display: flex;
    gap: 25px;
}
.introduction{
    border: 2px solid #7CFF00;
    border-radius: 40px;
    padding: 75px;
    width: 800px;
    height: 650px;
    transition: transform 0.3s ease-in-out;
}
.introduction:hover{
    transform: translateY(-25px);
    border: #7CFF00 solid 4px;
}
#who{
    gap: 0px;
    padding-top: 25px;
}
#who p{
    padding: 35px;
    font-size: 28px;
    margin-bottom: -20px;
}
.introduction p{
    border: #7CFF00 solid 1px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#interest{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.introduction p:hover{
    border: #D4AF37 solid 2px;
}

/*Skills Css...*/
#heading{
    font-size: 80px;
    color: #7CFF00;
   text-align: center;
}
.box3{
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    gap: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
#dabba{
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 65px;
}
.skills{
    border: #7CFF00 solid 1px;
    border-radius: 45px;
    padding-top: 90px;
    padding: 30px;
    padding-right: -20px;
    transition: transform 0.3s ease-in-out;
}
.skills:hover{
    transform: translateY(-25px);
    border: #7CFF00 solid 3px;
}
#lang{
    color: #D4AF37;
}
.skills h2{
    margin-bottom:25px;
}

/*Education Css....*/
.box4{
    margin-top: 30px;
    margin-left: 300px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.item4{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.category{
    margin-left: 90px;
     transition: transform 0.3s ease-in-out;
}
.item4 h1{
    color: #7CFF00;
}
#timeline{
    color: #D4AF37;
}
#category{
    border-left: #D4AF37 solid 5px;
    margin-left: 40px;
} 
.category:hover{
    transform: translateY(-8px);
    border: #D4AF37 solid 3px;
    padding: 25px;
    width: 60%;
    border-radius: 25px;
}
